* {
    padding: 0;
    margin: 0;
}

.main {
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.64;
    background-color: #000;
    position: absolute;
    top: 0;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 62px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 62px);
    color: #fff;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-family: 'Martel Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separate {
    height: 7px;
    background-color: rgb(54, 51, 51);
    position: relative;
    z-index: 20;
}

body {
    background-color: #000;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    border-radius: 4px;
    background-color: rgba(241, 237, 237, 0.08);
    border: 1px solid rgb(180, 176, 176);
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 20px;
    font-size: 20px;
    border-radius: 4px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 10px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(237, 231, 231, 0.5);
    color: #fff;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border-radius: 4px;

}

nav select {
    font-size: 10px;
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    border: hidden;
}

.btn span {
    font-size: 9px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Martel Sans', sans-serif;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 90px;
    right: 10px;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
    padding: 34px 0px;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

@media screen and (max-width:1300px) {
    .first {
        flex-wrap: wrap;
        padding: 34px 0px;
    }
}
@media screen and (max-width:1300px) {
    .secimg img {
        width: 400px;
        position: relative;
        z-index: 10;
    }
    .secimg video {
        position: absolute;
        top: 90px;
        right: 10px;
        width: 350px;
    }
   
}
@media screen and (max-width:1000px)
{
    .hero> :nth-child(1) {
        font-weight: 600;
        font-size: 32px;
    }
    .hero> :nth-child(2) {
        font-weight: 300;
        font-size: 13px;
    }
    nav
    {
        max-width: 90vw;
    }
}
@media screen and (max-width:465px)
{
    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
}
@media screen and (max-width:560px)
{
   .fill span
   {
    font-size: 10px;
    font-weight: 900;
   }
   .last-buttons
   {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
   }
}
.faq h2 {
    text-align: center;
    font-size: 32px;
}

.faq {
    font-family: 'Martel Sans', sans-serif;
    background-color: #000;
    color: white;
    padding: 30px;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: rgb(47, 47, 47);
    max-width: 55vw;
    margin: 34px auto;
    cursor: pointer;
    transition: all 1.2s ease-out;
}

.faqbox:hover {
    background-color: #414141;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 30px;
    grid-gap: 25px;
}

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}

.footer-item a {
    color: white;
    font-size: 14px;
}

.fill {
    display: flex;
    justify-content: center;
}

.fill span {
    color: white;
    font-family: 'Martel Sans', sans-serif;
    padding-bottom: 9px;
}

.last-buttons {
    display: flex;
    justify-content: center;
}

.last-buttons input {
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 10px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(237, 231, 231, 0.5);
    color: #fff;
    margin-right: 3px;
}

.last-sec {
    padding-bottom: 20px;
}